html {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
	margin: 0;
    padding: 20px 0;
    background: #1472FC;
    /* background: #343332; */
    font-family: "Roboto Mono", monospace;
	background: linear-gradient(165deg, rgba(20,252,195,1) 0%, rgba(136,20,252,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#14fcc3",endColorstr="#8814fc",GradientType=1);
    background-attachment: fixed;
}

video {
    top: 0;
    left: 0;
    margin: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    object-fit: cover;
}

main {
    z-index: 10;
    margin: auto;
    color: white;
    border-radius: 20px;
    background-color: #343332;
    width: clamp(350px, 80vw, 500px);
}

header {
    padding: 5px;
	text-align: center;
    border-bottom: solid white 1px;
}

header img {
    width: auto;
    height: 30px;
    color: white;
    display: block;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
}

.weather img {
    margin: 0;
    height: 79px;
    display: inline;
    transform: translateY(16px);
}

.weather h1 {
    margin: 0;
    font-size: 60px;
    display: inline;
    font-weight: 100;
}

strong {
    font-size: 1.2em;
}

small {
    font-size: 11px;
}

table {
	width: 100%;
}

tbody {
	margin: 0;
	width: 100%;
}

p {
    margin: 10px;
    font-size: 14px;
    display: inline-block;
}

a {
	color: #1472FC;
    cursor: pointer;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    padding: 10px 0;
}

.data {
    border: 0;
    width: 100%;
    margin: 10px;
	color: white;
    float: right;
    line-height: 0;
    font-size: 14px;
    text-align: right;
	background-color: transparent;
    font-family: "Roboto Mono", monospace;
}

#map {
	border-radius: 10px;
	border: solid grey 1px;
	background-color: #343332;
}