<h1 class="nosel">
  <img
    *ngIf="!(response != null && success)"
    src="https://content.kpnc.io/img/kpnc/symbol/KPNC-C.webp"
    alt="KPNC"
  />
  <img
    *ngIf="response != null && success"
    src="https://content.kpnc.io/img/kpnc/weather/{{response.weather.icon}}.webp"
    alt="{{response.weather.icon}}"
  />
</h1>

<main class="container">
  <h2 class="nosel">Current Forecast:</h2>
  <h3 class="nosel">⤷ <a (click)="routerLink(['/information'])">See more</a>...</h3>
  <div class="box">
    <small>Custom Search:</small>
    <form class="input nosel">
      <input ngModel name="q" #q="ngModel" (change)="changed(q)" type="text" id="q" placeholder="Tokyo">
      <button (click)="clicked()">►</button>
    </form>
    <div class="data" *ngIf="response != null && success">
      <h2>Location Info:</h2>
      <table>
        <tr>
          <td>Latitude:</td>
          <td><input readonly value="{{response.location.lat}}"></td>
        </tr>
        <tr>
          <td>Longitude:</td>
          <td><input readonly value="{{response.location.long}}"></td>
        </tr>
        <tr>
          <td>City:</td>
          <td><input readonly value="{{response.location.city}}"></td>
        </tr>
        <tr *ngIf="response.location.region != ''">
          <td>Region:</td>
          <td><input readonly value="{{response.location.region}}"></td>
        </tr>
        <tr>
          <td>Country:</td>
          <td><input readonly value="{{response.location.country}}"></td>
        </tr>
        <tr>
          <td>Timezone:</td>
          <td><input readonly value="{{response.location.zone}}"></td>
        </tr>
        <tr>
          <td>Data Point:</td>
          <td><input readonly value="{{response.location.data}}"></td>
        </tr>
        <tr *ngIf="response.satellite.access">
          <td>Satellite:</td>
          <td><input readonly value="{{response.satellite.series}}-{{response.satellite.designator}}"></td>
        </tr>
      </table>
      <h2>Weather Info:</h2>
      <table>
        <tr>
          <td>Condition:</td>
          <td><input readonly value="{{response.weather.condition}}"></td>
        </tr>
        <tr>
          <td>Temperature:</td>
          <td><input readonly value="{{response.weather.temperature}}"></td>
        </tr>
        <tr>
          <td>Feels Like:</td>
          <td><input readonly value="{{response.weather.feelslike}}"></td>
        </tr>
        <tr>
          <td>Humidity:</td>
          <td><input readonly value="{{response.weather.humidity}}"></td>
        </tr>
        <tr>
          <td>Wind Speed:</td>
          <td><input readonly value="{{response.weather.windspeed}}"></td>
        </tr>
        <tr>
          <td>Wind Direction:</td>
          <td><input readonly value="{{response.weather.winddirection}}"></td>
        </tr>
        <tr>
          <td>Pressure:</td>
          <td><input readonly value="{{response.weather.pressure}}"></td>
        </tr>
        <tr>
          <td>UVI:</td>
          <td><input readonly value="{{response.weather.uvi}}"></td>
        </tr>
      </table>
      <h2>Air Quality:</h2>
      <table>
        <tr>
          <td>AQI:</td>
          <td><input readonly value="{{response.airquality.aqi}}"></td>
        </tr>
        <tr>
          <td>PM2.5:</td>
          <td><input readonly value="{{response.airquality.pm25}}"></td>
        </tr>
        <tr>
          <td>PM10:</td>
          <td><input readonly value="{{response.airquality.pm10}}"></td>
        </tr>
        <tr>
          <td>O<sub>3</sub>:</td>
          <td><input readonly value="{{response.airquality.o3}}"></td>
        </tr>
        <tr>
          <td>CO:</td>
          <td><input readonly value="{{response.airquality.co}}"></td>
        </tr>
        <tr>
          <td>NO<sub>2</sub>:</td>
          <td><input readonly value="{{response.airquality.no2}}"></td>
        </tr>
        <tr>
          <td>SO<sub>2</sub>:</td>
          <td><input readonly value="{{response.airquality.so2}}"></td>
        </tr>
      </table>
      <h2>Astronomy:</h2>
      <table>
        <tr>
          <td>Sunrise:</td>
          <td><input readonly value="{{response.astronomy.sunrise}}"></td>
        </tr>
        <tr>
          <td>Sunset:</td>
          <td><input readonly value="{{response.astronomy.sunset}}"></td>
        </tr>
        <tr>
          <td>Moonrise:</td>
          <td><input readonly value="{{response.astronomy.moonrise}}"></td>
        </tr>
        <tr>
          <td>Moonset:</td>
          <td><input readonly value="{{response.astronomy.moonset}}"></td>
        </tr>
        <tr>
          <td>Moon Phase:</td>
          <td><input readonly value="{{response.astronomy.phase}}"></td>
        </tr>
        <tr>
          <td>Illumination:</td>
          <td><input readonly value="{{response.astronomy.illumination}}"></td>
        </tr>
      </table>
      <div class="tab nosel" (click)="satellite = true" *ngIf="!satellite && response.satellite.access">
        <a>Satellite</a>
      </div>
      <div class="nosel" *ngIf="satellite && response.satellite.access">
        <h2>Satellite:</h2>
        <div class="gallery">
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', 'GEOCOLOR']"
            [title]="'GeoColor'"
            [sub]="'True Color daytime and multispectral IR at night'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['GLM', 'EXTENT3']"
            [title]="'GLM FED3'"
            [sub]="'Lightning flash textent density over GeoColor'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', 'AirMass']"
            [title]="'AirMass RGB'"
            [sub]="'RGB based on data from IR & water vapor'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', 'Sandwich']"
            [title]="'Sandwich RGB'"
            [sub]="'Blend combines IR band 13 with NIR band 3'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', 'DayNightCloudMicroCombo']"
            [title]="'Day Night Cloud Micro Combo RGB'"
            [sub]="'DayCloudPhase & NightMicrophysics Combo'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', 'DayCloudPhase']"
            [title]="'Day Cloud Phase RGB'"
            [sub]="'Show phase of cooling cloud tops'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', 'NightMicrophysics']"
            [title]="'Nighttime Mycrophysics'"
            [sub]="'RGB to distinguish clouds from fog'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', 'FireTemperature']"
            [title]="'Fire Temperature'"
            [sub]="'RGB used to highlight fires'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', 'Dust']"
            [title]="'Dust RGB'"
            [sub]="'RGB for identifying tropospheric dust'"
          ></app-imager>


          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', '01']"
            [title]="'Band 1'"
            [sub]="'Visible (0.47μm): Blue'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', '02']"
            [title]="'Band 2'"
            [sub]="'Visible (0.64μm): Red'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', '03']"
            [title]="'Band 3'"
            [sub]="'Near IR (0.86μm): Veggie'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', '04']"
            [title]="'Band 4'"
            [sub]="'Near IR (1.37μm): Cirrus'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', '05']"
            [title]="'Band 5'"
            [sub]="'Near IR (1.6μm): Snow/Ice'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', '06']"
            [title]="'Band 6'"
            [sub]="'Near IR (2.2μm): Cloud Particle'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', '07']"
            [title]="'Band 7'"
            [sub]="'IR (3.9μm): Shortwave Window'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', '08']"
            [title]="'Band 8'"
            [sub]="'IR (6.2μm): Upper-level Water Vapor'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', '09']"
            [title]="'Band 9'"
            [sub]="'IR (6.9μm): Mid-level Water Vapor'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', '10']"
            [title]="'Band 10'"
            [sub]="'IR (7.3μm): Lower-level Water Vapor'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', '11']"
            [title]="'Band 11'"
            [sub]="'IR (8.4μm): Cloud Top'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', '12']"
            [title]="'Band 12'"
            [sub]="'IR (9.6μm): Ozone'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', '13']"
            [title]="'Band 13'"
            [sub]="'IR (10.3μm): Clean Longwave Window'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', '14']"
            [title]="'Band 14'"
            [sub]="'IR (11.2μm): Longwave Window'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', '15']"
            [title]="'Band 15'"
            [sub]="'IR (12.3μm): Dirty Longwave Window'"
          ></app-imager>
          <app-imager
            [satellite]="response.satellite"
            [product]="['ABI', '16']"
            [title]="'Band 16'"
            [sub]="'IR (13.3μm): CO2 Longwave'"
          ></app-imager>
        </div>
      </div>
      <h2>Map Visual:</h2>
      <div class="map nosel">
        <app-map [lat]="response.location.lat" [long]="response.location.long" [data]="response.location.data"></app-map>
      </div>
    </div>
    <p class="message nosel" [ngClass]="{'fail': !success, 'succ': success}" *ngIf="message">{{message}}</p>
    <div class="nosel" style="margin: 18px;" *ngIf="loading">
      <app-loader></app-loader>
    </div>
  </div>
</main>

